@{
    Layout = "~/Views/_Shared/_LayoutPage.cshtml";
}
@using System.Activities.Statements
@using System.Linq
@using Accommodation.Application.Contract.Amenities.DTO
@model Accommodation.Application.Contract.Hotels.DTO.HotelDTO
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <Main class="container-fluid py-2">
        @using (Html.BeginForm())
        {
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        Hotel Native Name
                    </div>
                    <div class="col-3">
                        Hotel Latin Name
                    </div>
                    <div class="col-3">
                        District
                    </div>
                    <div class="col-3">
                        HotelGroup
                    </div>
                </div>
            </div>
          
     
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        @Html.EditorFor(a => a.NativeName)
                        
                    </div>
                    <div class="col-3">
                        @Html.EditorFor(a => a.LatinName)
                    </div>
                    <div class="col-3">
                        @Html.EditorFor(a => a.District)
                    </div>
                    <div class="col-3">
                        @Html.EditorFor(a=>a.HotelGroupId)
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row ">
                    <div class="col-3">
                        
                    </div>
                    <div class="col-3">
                        City Latin Name
                    </div>
                    <div class="col-3">
                        County Name
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row ">
                    <div class="col-3">
                        <input type="text">
                    </div>
                    <div class="col-3">
                        <input type="text">
                    </div>
                    <div class="col-3">
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row ">
                    <div class="col-3">
                        Count Of Single Room
                    </div>
                    <div class="col-3">
                        Count Of Double Room
                    </div>
                    <div class="col-3">
                        Count Of Triple Room
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row ">
                    <div class="col-3">
                        <input type="text">
                    </div>
                    <div class="col-3">
                        <input type="text">
                    </div>
                    <div class="col-3">
                        <input type="text">
                    </div>
                </div>
            </div>
            <br />
            <div class="container text-center">
                <div class="row col-11">
                    Amenities
                </div>
                <div class="row text-end ">

                    @{
                        var index = 1;
                    }
                    @foreach (var amenity in Model.AllAmenities)
                    {
                        
                            var selectedAmenity = Model.Amenities.FirstOrDefault(a => a.Title == amenity.Title);

                            if(selectedAmenity != null)
                            {
                                <div class="col-2">
                            <label for="@amenity.Title-@index">@amenity.Title</label>

                                    <input type="checkbox" id="amenity.Title-@index" name="AvailableAmenities" value="@amenity.Key" checked />
                                </div>
                            }
                            else
                            {
                                <div class="col-2">
                            <label for="@amenity.Title-@index">@amenity.Title</label>

                                    <input type="checkbox" id="amenity.Title-@index" name="AvailableAmenities" value="@amenity.Key" />
                                </div>
                            }
            

                            index++;

                    }

                </div>
                    @*<div class="row text-end">
       
                        @{
                            var index = 1;
                        }
                        @foreach (var am in Model.Amenities)
                        {
                            <div class ="col-2">
                                <label for="Hotel.AvailableAmenities-@index">@am.Title</label>
                                <input type="checkbox" id="Hotel.AvailableAmenities-@index" name="Hotel.AvailableAmenities" value=" @am.Key.ToString()" />

                            </div>
                            index++;

                        }
                    </div>*@
                @*</div>*@
            </div>
            <br>
            <div class="container text-center">
                <div class="row col-11">
                    Description
                </div>
                <div class="row ">

                    <div class="col-11">
                        @Html.TextAreaFor(a=>a.Description , new { style = "width:100%"})
                    </div>
                </div>
            </div>
            <br>
            <div class="container text-center">
                <div class="row col-11">
                    Rules
                </div>
                <div class="row ">

                    <div class="col-11">
                        @Html.TextAreaFor(a=>a.Rules , new { style = "width:100%"})
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="container">
                <div class="row ">
                    <div class="col-6 text-end">
                        <input type="submit" value="Save" />
                    </div>
                    <div class="col-6">
                        <button>Cancel</button>
                    </div>
                </div>
            </div>
        }

    </Main>
</body>
</html>