@{
    Layout = "~/Views/_Shared/_LayoutPage.cshtml";
}
@model List<Accommodation.Application.Contract.Hotels.DTO.HotelDTO>


<div class="m-2 d-flex justify-content-start">
    @Html.ActionLink("Add Hotel", "AddHotel", null,new {@class= "btn btn-primary col-1" })
</div>
<div class="border border-primary mx-2">
    <div class="row text-secondary text-center border-primary my-2">
        <div class="col-3">Persian Name</div>
        <div class="col-3">English Name</div>
        <div class="col-2">City</div>
        <div class="col-2">Grade</div>
        <div class="col-2">Operation</div>
    </div>

    @foreach (var hotel in Model)
    {
    <div class="row text-center">
        <div class="col-3">
            @Html.ActionLink(@hotel.NativeName ,"Details" , new {id =@hotel.Id})
        </div>
        <div class="col-3">@hotel.LatinName</div>
        <div class="col-2">City N/A</div>
        <div class="col-2">Grade N/A</div>
        <div class="col-2">
            @Html.ActionLink("Edit", "Edit", new { id = @hotel.Id })/ 
            @Html.ActionLink("Delete", "Delete", new { id = @hotel.Id })
        </div>
    </div>
    }
</div>